{% load static%}
<!DOCTYPE HTML >
<HTML lang="en">
   <HEAD>
      <meta charset="UTF-8">
      <TITLE>Gaurav Dhiman</TITLE>
      <meta charset="utf-8">
      <meta content="width=device-width, initial-scale=1.0" name="viewport">
       <!-- Google Fonts -->
      <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
      <!-- Vendor CSS Files -->
      <link href="{% static '/vendor/aos/aos.css'%}" rel="stylesheet">
      <link href="{% static '/vendor/bootstrap/css/bootstrap.min.css'%}" rel="stylesheet">
      <link href="{% static '/vendor/bootstrap-icons/bootstrap-icons.css'%}" rel="stylesheet">
      <link href="{% static '/vendor/boxicons/css/boxicons.min.css'%}" rel="stylesheet">
      <link href="{% static '/vendor/glightbox/css/glightbox.min.css'%}" rel="stylesheet">
      <link href="{% static '/vendor/swiper/swiper-bundle.min.css'%}" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}">

      <!-- Template Main CSS File -->
      <link href="{% static '/css/style.css'%}" rel="stylesheet">
      <style>
        body{
          background-color: rgba(255, 255, 255, 0.986);
        }
      </style>
   </HEAD>
   <body>


      <!-- ======= Mobile nav toggle button ======= -->
      <button type="button" class="mobile-nav-toggle d-xl-none"><i class="bi bi-list mobile-nav-toggle"></i></button>
      <i class="bi bi-list mobile-nav-toggle d-lg-none"></i>
      <!-- ======= Header ======= -->
      <header id="header" class="d-flex flex-column justify-content-center">
        <nav id="navbar" class="navbar nav-menu">
          <ul>
            <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
            <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
            <li><a href="#testimonials" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Certification</span></a></li>
            <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Resume</span></a></li>
            <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Portfolio</span></a></li>
            <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
          </ul>
        </nav><!-- .nav-menu -->
    
      </header><!-- End Header -->
    
      <!-- ======= Hero Section ======= -->
      <section id="hero" class="d-flex flex-column justify-content-center" >
        <div class="container" data-aos="zoom-in" data-aos-delay="100">
          <h1>Gaurav Dhiman</h1>
          <p>I'm <span class="typed" data-typed-items="Azure Data Engineer, SQL Developer, Pyspark Developer, Data Analyst,Web Developer,Student of Life !"></span></p>
          <div class="social-links">
            <a href="https://github.com/gauravdhiman217/" target="_blank" class="google-plus"><i class="bx bxl-github"></i></a>
            <a href="https://www.linkedin.com/in/imgauravdhiman/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.facebook.com/Dhiman.gaurav217/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/the._.gauravdhiman/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
        </div>
      </section>
      <!-- End Hero -->
    
      <main id="main">
    
        <!-- ======= About Section ======= -->
        <section id="about" class="about">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>About</h2>
              <p>
                Hi There, From SQL to Web Development , I will be your Swiss Army Knife of Data" &#128512;.I am Gaurav Dhiman, I am from Chandigarh,India

              </p>
            </div>
    
            <div class="row">
              <div class="col-lg-4">
                <img src="{% static '/img/profile-img.jpg' %}" class="img-fluid" alt="">
              </div>
              <div class="col-lg-8 pt-4 pt-lg-0 content">
                <h3 style="padding-top: 5px;">Personal Info.</h3>
                <div class="row">
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Birthday:</strong> <span>17 Sep 1994</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Phone:</strong> <span>+91 79865-01437</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>City:</strong> <span>Chandiarh, India</span></li>
                    </ul>
                  </div>
                  <div class="col-lg-6">
                    <ul>
                      <li><i class="bi bi-chevron-right"></i> <strong>Age:</strong> <span>28</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Degree:</strong> <span>Bachelor of Technology</span></li>
                      <li><i class="bi bi-chevron-right"></i> <strong>Email:</strong> <span>imgauravdhiman@gmail.com</span></li>
                    </ul>
                  </div>
                </div>
                <hr>
                <p>
                  Hey there! I'm Gaurav - a data enthusiast, coffee addict, and Chandigarh local. 
                  At the moment, I am working full-time as a Azure Data Engineer with BCITS Pvt Ltd in India. 
                  When I'm not busy crunching numbers or fixing pipelines, 
                  you can find me exploring new hiking trails or binge-watching the latest Netflix series. 
                  I'm passionate about unlocking the hidden potential in data and helping businesses make smarter decisions. 
                  So if you're looking for a data engineer who can turn your data into insights, let's connect!  
                </p>
              </div>
            </div>
    
          </div>
        </section><!-- End About Section -->
    
        <!-- ======= Facts Section ======= -->
        <section id="facts" class="facts">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Facts</h2>
            </div>
    
            <div class="row">
    
              <div class="col-lg-3 col-md-6">
                <div class="count-box">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Happy Clients</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-md-0">
                <div class="count-box">
                  <i class="bi bi-journal-richtext"></i>
                  <span data-purecounter-start="0" data-purecounter-end="10" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Projects</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="bi bi-headset"></i>
                  <span data-purecounter-start="0" data-purecounter-end="1713" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Hours Of Support</p>
                </div>
              </div>
    
              <div class="col-lg-3 col-md-6 mt-5 mt-lg-0">
                <div class="count-box">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="8" data-purecounter-duration="1" class="purecounter"></span>
                  <p>Certifications</p>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Facts Section -->
    
        <!-- ======= Skills Section ======= -->
        <section id="skills" class="skills section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Skills</h2>
              <p>
                From a very young age, I have been interested in technology and the first language 
                I learned was HTML, which is my favorite language. Over time,
                 I got a chance to work with different technologies and 
                 my quick learning skills have helped me to gain knowledge in them.
              </p>
            </div>
    
            <div class="row skills-content">
    
              <div class="col-lg-6">
    
                <div class="progress">
                  <span class="skill">SQL <i class="val">95%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">AZURE DATA Factory <i class="val">90%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Azure Data Bricks <i class="val">90%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">HTML<i class="val">95%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Tableau <i class="val">70%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
    
              </div>
    
              <div class="col-lg-6">
    
                <div class="progress">
                  <span class="skill">Python <i class="val">85%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Pyspark <i class="val">85%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Pandas <i class="val">85%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Django<i class="val">75%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
                <div class="progress">
                  <span class="skill">Data WareHousing<i class="val">75%</i></span>
                  <div class="progress-bar-wrap">
                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </div>
    
              </div>
    
            </div>
    
          </div>
        </section><!-- End Skills Section -->
    <!--Certifications section-->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Certifications</h2>
        </div>

        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            {%for certicate in certifications%}
            <div class="swiper-slide">
              <div class="testimonial-item">
                <img src="{{certicate.cer_img.url}}" class="testimonial-img" style='width:50%' alt="">
                <h3>{{certicate.cer_name}}</h3>
                <h4>{{certicate.cer_org}}</h4>
                <p>
                  <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                  {{certicate.cer_details}}
                 <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
              </div>
            </div><!-- End testimonial item -->
            {%endfor%}
            
          </div>
          <div class="swiper-pagination"></div>
        </div>

      </div>
    </section>
    <!-- End Certifications Section -->
    
        <!-- ======= Resume Section ======= -->
        <section id="resume" class="resume">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Resume</h2>
            </div>
    
            <div class="row">
              <div class="col-lg-6">
                <h3 class="resume-title">Sumary</h3>
                <div class="resume-item pb-0">
                  <h4>Gaurav Dhiman</h4>
                  <p>
                    <em>
                      Experienced Professional with 1.10+ years of experience in Building and maintating Data Pipeline using Azure Data Factory
                      , Azure Data Bricks, Spark, delta Tables SQL, Data Modeling, Advance Excel and Python.
                      Proven ability to analyze and interpret complex data sets and present solutions to executive leadership.                      
                    </em>
                  </p>
                  <ul>
                    <li>Chandigarh, India</li>
                    <li>(+91) 79865-01437</li>
                    <li>imgauravdhiman@gmail.com</li>
                  </ul>
                </div>
    
                <h3 class="resume-title">Education</h3>
                <div class="resume-item">
                  <h4>Bachelor of Technology</h4>
                  <h5>2014 - 2017</h5>
                  <p><em>Swami Devi Dayal Institute of engg & technology, Panchkula, Haryana</em></p>
                  <p></p>
                 </div>
                <div class="resume-item">
                  <h4>Diploma in engineering</h4>
                  <h5>2011 - 2014</h5>
                  <p><em>Swami Devi Dayal Collage of technical Education , Panchkula, Haryana</em></p>
                       </div>
              </div>
              <div class="col-lg-6">
                <h3 class="resume-title">Professional Experience</h3>
                <div class="resume-item">
                  <h4>Project Engineer</h4>
                  <h5>2021 - Present</h5>
                  <p><em>BCITS PVT LTD, Haryana, IND </em></p>
                  <ul>
                    <li>Intracting and Gathering Client Data requirements and Transforming project Data requirements into project model.</li>
                    <li>Firing SQL queries and writing python scripts to maniplute data set according to requirements.</li>
                    <li>Maintaining and Building Database Tables for easy retrieval using Data wareHousing Concepts.</li>
                    <li> Produced Monthly reporting using Advance Excel SpreedSheets Functions.</li>
                  </ul>
                </div>
                
              </div>
            </div>
    
          </div>
        </section><!-- End Resume Section -->
    
        <!-- ======= Portfolio Section ======= -->
        <section id="portfolio" class="portfolio section-bg">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Portfolio</h2>
              <p>Here are some of my personal Project. You can filter or click on Project to follow live link or github link to check code.</p>
            </div>
    
            <div class="row">
              <div class="col-lg-12 d-flex justify-content-center" data-aos="fade-up" data-aos-delay="100">
                <ul id="portfolio-flters">
                  <li data-filter="*" class="filter-active">All</li>
                  <li data-filter=".filter-PYTHON">Python</li>
                  <li data-filter=".filter-SQL">SQL</li>
                  <li data-filter=".filter-DATA_VISUALIZATION">Data Visualization</li>
                </ul>
              </div>
            </div>
    
            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
              {%for form in forms%}
              <div class="col-lg-4 col-md-6 portfolio-item filter-{{form.Project_Type}}">
                <div class="portfolio-wrap">
                  <img src="{{form.Project_img.url}}" class="img-fluid" alt="">
                  <div class="portfolio-info">
                    <h4>{{form.Project_Title}}</h4>
                    <div class="portfolio-links">
                      <a href="{{form.Project_img.url}}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="{{form.Project_Desc}}">Detail View<i class="bx bx-plus"></i></a>
                      <a href="{{form.Project_Live_Link}}"  target="_blank" >Live Link<i class="bx bx-link"></i></a>
                      <a href="{{form.Project_github_Link}}" target="_blank" >Git hub link<i class="bx bx-link"></i></a>
                    </div>
                  </div>
                </div>
              </div>
              {%endfor%}
                  
            </div>
    
          </div>
        </section>
    <!-- End Portfolio Section -->
    

    
        
    
        <!-- ======= Contact Section ======= -->
        <section id="contact" class="contact">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <h2>Contact</h2>
            </div>
    
            <div class="row mt-1">
    
              <div class="col-lg-4">
                <div class="info">
                  <div class="address">
                    <i class="bi bi-geo-alt"></i>
                    <h4>Location:</h4>
                    <p>Sector 13, Chandigarh, India</p>
                  </div>
    
                  <div class="email">
                    <i class="bi bi-envelope"></i>
                    <h4>Email:</h4>
                    <p>imgauravdhiman@gmail.com</p>
                  </div>
    
                  <div class="phone">
                    <i class="bi bi-phone"></i>
                    <h4>Call:</h4>
                    <p>+91 79865-01437</p>
                  </div>
    
                </div>
    
              </div>
              <!-- success message section -->
              <div class="col-lg-5">
                {% if messages %}
              {% for message in messages %}
                <div class="alert alert-dismissible alert-success">
                  <strong>{{message}}</strong>
                </div>
             {% endfor %}
            {% endif %}
            <!-- end of success message section  -->
            <!-- form section for connact me  -->
              <form action="" method="post">
                {%csrf_token%}
                {%if contactus_form%}
                  {{contactus_form}}
                  <input type="submit" value="submit">
                {%endif%}
              </form>
              <!-- end of form  -->
              <style>
                /*-------------------------------
                contact us section using django forms
                -----------------------------*/
                input[type=text], input[type=email] {
                  width: 100%;
                  padding: 12px 5px;
                  border: 1px solid #ccc;
                  border-radius: 4px; /* Rounded borders */
                  box-sizing: border-box; /* Make sure that padding and width stays in place */
                  margin-top: 6px; /* Add a top margin */
                  margin-bottom: 16px; /* Bottom margin */
                  resize: vertical;
                  height: 5vh;
                  display: inline-block;
                }
                textarea {
                  width: 100%;
                  padding: 12px 5px;
                  border: 1px solid #ccc;
                  border-radius: 4px; /* Rounded borders */
                  box-sizing: border-box; /* Make sure that padding and width stays in place */
                  margin-top: 6px; /* Add a top margin */
                  margin-bottom: 16px; /* Bottom margin */
                  resize: vertical;
                  height: 20vh;
                }
              </style>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Contact Section -->
    
      </main><!-- End #main -->
    
      <!-- ======= Footer ======= -->
      <footer id="footer">
        <div class="container">
          <h3>Gaurav Dhiman</h3>
          <p> Thank you for taking the time to visit my personal website! <br>
            I hope you enjoyed exploring and learning a little bit more about me. <br>
            If you have any questions or just want to say hi, feel free to reach out. 
            Take care and have a great day! Goodbye<div class="social-links">
          
            <a href="https://github.com/gauravdhiman217/" target="_blank" class="github"><i class="bx bxl-github"></i></a>
            <a href="https://www.linkedin.com/in/imgauravdhiman/" target="_blank" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            <a href="https://www.facebook.com/Dhiman.gaurav217/" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
            <a href="https://www.instagram.com/the._.gauravdhiman/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
          </div>
          <div class="copyright">
            &copy; Copyright <strong><span>GauravDhiman</span></strong>. All Rights Reserved
          </div>
        </div>
      </footer>
      <!-- End Footer -->
    
      <div id="preloader"></div>
      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="{% static '/vendor/purecounter/purecounter_vanilla.js'%}"></script>
      <script src="{% static '/vendor/aos/aos.js'%}"></script>
      <script src="{% static '/vendor/bootstrap/js/bootstrap.bundle.min.js'%}"></script>
      <script src="{% static '/vendor/glightbox/js/glightbox.min.js'%}"></script>
      <script src="{% static '/vendor/isotope-layout/isotope.pkgd.min.js'%}"></script>
      <script src="{% static '/vendor/swiper/swiper-bundle.min.js'%}"></script>
      <script src="{% static '/vendor/typed.js/typed.min.js'%}"></script>
      <script src="{% static '/vendor/waypoints/noframework.waypoints.js'%}"></script>
      <script src="{% static '/vendor/php-email-form/validate.js'%}"></script>
    
      <!-- Template Main JS File -->
      <script src="{% static '/js/main.js'%}"></script>
    
    </body>
    
    </html>